<%- partial('common/head') %>
<body>
    <%- partial('common/header') %>
    <div id="container">
        <%- partial('common/profile') %>
        <section id="main">
            <%- body %>
        </section>
    </div>
    <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    <%- partial('common/scripts') %>
</body>
</html>